.tab-buttons{
    margin: 0px auto;

    a{
        text-decoration: none;
    }
    .on-click-color{
        background-color: #333333;
    }
}
.auth{
    button{
        margin-right: 5px;
    }
}
mat-toolbar-row{
    background-color: #f5f5f5;
    position: fixed;
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
mat-button-toggle-group {
    margin-left: 12px;
}