<mat-toolbar>
  <mat-toolbar-row>
    <div class="container">
      <div class="logo" (click)="redirectHome()">
        <img src="../../assets/mentormate_favicon.png" alt="" srcset="">
      </div>
      <div class="tab-buttons">
        <mat-button-toggle-group name="fontStyle" #group="matButtonToggleGroup" [value]="lastVisitedRouter">
          <mat-button-toggle [routerLink]="'/trending'" value='trending'>Trending</mat-button-toggle>
          <mat-button-toggle [routerLink]="'/hot'" value='hot'>Hot</mat-button-toggle>
          <mat-button-toggle [routerLink]="'/new'" value='new'>New</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="search">
        <form class="example-form">
          <input type="text"
                 placeholder="Search..."
                 [formControl]="control"
                 [matAutocomplete]="auto"
          >
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="displayFn()" [displayWith]="displayValue">
            <mat-option *ngFor="let posts of searchResults" [value]="posts">
              {{posts.post_title}}
            </mat-option>
          </mat-autocomplete>
        </form>
      </div>
      <div class="auth" *ngIf="!isLoggedIn; else elseBlock">
        <button mat-raised-button color="primary" (click)="openDialog()">Sign In / Register</button>
      </div>
      <ng-template #elseBlock>
        <div class="auth">
          <button mat-raised-button color="primary" (click)="openUpload()">Upload</button>
          <button mat-raised-button color="primary" (click)="logOut()">Logout</button>
        </div>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>
  