<form [formGroup]="userForm" (submit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" placeholder="">
    <mat-error *ngIf="userForm.controls['title'].hasError('required')">
      Title is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <div class="container" appDragAndDrop (fileDropped)="onFileDropped($event)">
    <input type="file" formControlName="base64" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />
    <img src="../../assets/outbox.png" alt="">
    <h3>Drag and drop file here</h3>
    <h3>or</h3>
    <label for="fileDropRef">Browse for file</label>
  </div>
  <div class="files-list">
    <div class="single-file" *ngFor="let file of files; let i = index">
      <img src="../../assets/ic-file.svg" width="45px" alt="file">
      <div class="info">
        <h4 class="name">
          {{ file?.name }}
        </h4>
        <p class="size">
          {{ formatBytes(file?.size) }}
        </p>
        <app-progress [progress]="file?.progress"></app-progress>
      </div>
      <img src="../../assets/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
    </div>
  </div>
  <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid || !ready_for_upload" class="upload-button">
    Upload
  </button>
  <button mat-raised-button [mat-dialog-close]>Close</button>
</form>

