body{
    all: unset;
}
html, body { height: 100%; background-color: #dae0e6;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
